﻿@model HotelManagement.ViewModel.CustomerVM

<style>
    .row {
        padding: 10px
    }
</style>
<script>
    $(document).ready(function () {
        
        $('#Bookingvm_Action').click(function () {
            var date = new Date();
            var day = date.getDate();
            var Month = date.getMonth();
            var year = date.getFullYear();
            var curr_hour = date.getHours();
            var curr_min = date.getMinutes();
            var curr_sec = date.getSeconds();
            if (day < 10) {
                day = "0" + day;
            }
            if (Month < 10) {
                Month = "0" + Month;
            }
            if (curr_hour < 10) {
                curr_hour = "0" + curr_hour;
            }
            if (curr_min < 10) {
                curr_min = "0" + curr_min;
            }
            if (curr_sec < 10) {
                curr_sec = "0" + curr_sec;
            }
            if ($("#Bookingvm_Action").prop('checked') == true) {
                $("#CheckIN").val(year + "-" + Month + "-" + day + " " + curr_hour + ":" + curr_min + ":" + curr_sec );
            }
            else {
                console.log(2);
                $("#checkOUT").val(year + "-" + Month + "-" + day + " " + curr_hour + ":" + curr_min + ":" + curr_sec );
            }
            
        });

        //var act = $("#Action").val()

        //if (act == true)
        //    $("#CheckIN").val(new Date())
        //else
        //    $("#CheckOUI").val(new Date())
    });
</script>

<div class="form-horizontal">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.Bookingvm.Id)
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control reset", @id = "CustomerName" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Mobile)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control reset", @id = "Mobile" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Gender)
                </div>
                <div class="col-md-8">
                    <select class="form-control" id="Gender" name="Gender">
                        <option>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control reset", @id = "Address" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Images)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Images, new { type = "file",htmlAttributes = new { @class = "form-control", @id = "Image" } })
                        @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control reset", @id = "txtLastName" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Bookingvm.Roomnumber)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Bookingvm.Roomnumber, new { htmlAttributes = new { @class = "form-control reset", @id = "txtLastName" } })
                        @Html.ValidationMessageFor(model => model.Bookingvm.Roomnumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Bookingvm.Action)
                    </div>
                    <div class="col-md-8">
                       @Html.CheckBoxFor(model => model.Bookingvm.Action, new { htmlAttributes = new { @class = "form-control reset", @id = "Action"  } })
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                      @Html.EditorFor(model => model.Bookingvm.CheckIn, new { htmlAttributes = new { @class = "form-control reset", @id = "CheckIN" } })
                    </div>
                    <div class="col-md-4">
                      @Html.EditorFor(model => model.Bookingvm.CheckOut, new { htmlAttributes = new { @class = "form-control reset", @id = "checkOUT" } })
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>