﻿@model HotelManagement.ViewModel.CustomerVM
@{
    ViewBag.Title = "Index";
}


<style>
    .padCont {
        padding: 10px;
        padding-right: 20px;
    }
</style>
<script>
 $(document).ready(function () {
     $('.editBtn').click(function () {

         var Id = parseInt($(this).attr('id'))
         console.log(Id);
         window.location.href = '@Url.Action("Edit", "Booking")' + '/' + Id;
     });

 });
</script>

            <div class="container">

                <div class="form-horizontal">
                    <div class="row page-header">
                        <h2>Booking List</h2>
                        <div>
                            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("Create", "Booking")'">
                                <i class="glyphicon glyphicon-plus"></i> New Booking
                            </button>
                            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("CustomerInfo", "Information")'">Costomer Inforamtion</button>
                            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("RoomInfo", "Information")'">Room information</button>
                            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("EmployeeInfo", "Information")'">Employees information</button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Emptable">
                            <table class="table table-hover table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>BookingId</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Gender</th>
                                        <th>RoomNumber</th>
                                        <th>CheckIn Date</th>
                                        <th>CheckOut Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.customerVMlist != null)
                                        {
                                            foreach (var item in Model.customerVMlist)
                                            {
                                                <tr>
                                                    <td>@item.Bookingvm.Id</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.Gender</td>
                                                    <td>@item.Bookingvm.Roomnumber</td>
                                                    <td>@item.Bookingvm.CheckIn</td>
                                                    <td>@item.Bookingvm.CheckOut</td>

                                                    <td>
                                                        <span class="btn btn-info padCont editBtn" id="@item.Bookingvm.Id"><i class="glyphicon glyphicon-edit"></i> CheckOut</span>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

