﻿@model HotelManagement.ViewModel.CustomerVM
@{
    ViewBag.Title = "CustomerInfo";
}

<h2>CustomerInfo</h2>



<script>
    $(document).ready(function () {

    });

    function BacktoIndex() {
        window.location.href = '@Url.Action("Index","Booking")'
    }
</script>
<style>
    .padCont {
        padding: 10px;
        padding-right: 20px;
    }
</style>


<div class="container">

    <div class="form-horizontal">
        <div class="row page-header">
            <h2>Customers List</h2>
            <div>
                <button type="button" class="btn btn-warning" id="btnBack" onclick="return BacktoIndex();">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                </button>
            </div>
        </div>
        <div class="row">
            <div id="Emptable">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>CustomerId</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Gender</th>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.customerVMlist != null)
                            {
                                foreach (var item in Model.customerVMlist)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td>@item.Email</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Images</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>