﻿@model HotelManagement.ViewModel.EmpolyeeVM
@{
    ViewBag.Title = "EmployeeInfo";
}

<h2>EmployeeInfo</h2>



<script>
    $(document).ready(function () {

    });

    function BacktoIndex() {
        window.location.href = '@Url.Action("Index","Booking")'
    }
</script>

<style>
    .padCont {
        padding: 10px;
        padding-right: 20px;
    }
</style>


<div class="container">

    <div class="form-horizontal">
        <div class="row page-header">
            <div>
                <button type="button" class="btn btn-warning" id="btnBack" onclick="return BacktoIndex();">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                </button>
            </div>
        </div>
        <div class="row">
            <div id="Emptable">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>EmployeeId</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Images</th>
                            <th>Email</th>
                            <th>JobType</th>
                            <th>Salary</th>
                            <th>ShiftTime</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.EmpolyeeVMlist != null)
                            {
                                foreach (var item in Model.EmpolyeeVMlist)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Password</td>
                                        <td>@item.Age</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Address</td>
                                        <td>@item.Images</td>
                                        <td>@item.Email</td>
                                        <td>@item.Jobtype</td>
                                        <td>@item.Salary</td>
                                        <td>@item.ShiftTime</td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
