﻿@model HotelManagement.ViewModel.RoomVM
@{
    ViewBag.Title = "RoomInfo";
}

<h2>RoomInfo</h2>



<script>
    $(document).ready(function () {

    });

    function BacktoIndex() {
        window.location.href = '@Url.Action("Index","Booking")'
    }
</script>
<style>
    .padCont {
        padding: 10px;
        padding-right: 20px;
    }
</style>

<div class="container">

    <div class="form-horizontal">
        <div class="row page-header">
            <div>
                <button type="button" class="btn btn-warning" id="btnBack" onclick="return BacktoIndex();">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                </button>
            </div>
        </div>
        <div class="row">
            <div id="Emptable">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>RoomId</th>
                            <th>Roomnumber</th>
                            <th>Description</th>
                            <th>DayCharge</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.RoomVMlist != null)
                            {
                                foreach (var item in Model.RoomVMlist)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Roomnumber</td>
                                        <td>@item.Description</td>
                                        <td>@item.DayCharge</td>
                                        <td>@item.status</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
